$green: #24bc64;
$red: #d9471a;
$danger: #ea5734;
$primary: #026fc2;
$yellow: #dada00;
$magazineBrown: #a49870;

$white: #fff;
$lighterPrimary: #eef2f4;
$lightPrimary: #d1dbe3;
$bodyColor: #f8f8f8;
$linkColor: #e5e8ea;
$cardDivider: #eff3f9;
$adminGray: #dddfe1;

$darkGray: #586976;
$textPrimary: #9dafbd;
$textSecondary: #54617a;
$darkerGrey: #242e42;
$paperCardShadow: #d7dee365;
$adminPrimary: #455a64;
$adminSecondry: #abafb3;

// Custom new UI Variables
$white: #fff;
$accentPrimary: #3cd17f;
$accentSecondary: #4b42ad;
$greyLight: #e1e2e6;
$greyDark: #acacac;
$greyDarker: #676767;
$greyDarkest: #333333;
